[project]
	description = Play Framework 2.4.X WebApp Skeleton
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GANOVELLI (ganov)
[access "refs/for/refs/*"]
	read = group user/GANOVELLI (ganov)
	push = group user/GANOVELLI (ganov)
	label-Code-Review = -2..+2 group user/GANOVELLI (ganov)
	label-Verified = -1..+1 group user/GANOVELLI (ganov)
	rebase = group user/GANOVELLI (ganov)
	removeReviewer = group user/GANOVELLI (ganov)
	submit = group user/GANOVELLI (ganov)
[access "refs/heads/*"]
	read = group user/GANOVELLI (ganov)
	create = group user/GANOVELLI (ganov)
	push = +force group user/GANOVELLI (ganov)
	pushMerge = group user/GANOVELLI (ganov)
[access "refs/tags/*"]
	push = +force group user/GANOVELLI (ganov)
	pushTag = group user/GANOVELLI (ganov)
	pushSignedTag = group user/GANOVELLI (ganov)
